# Auto detect text files and perform LF normalization
* text=auto
<html>
    <head>
            <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
     <style>
                    .row {
                      display: flex;
                      flex-wrap: wrap;
                      padding: 0 4px;
                    }
                    
                    /* Create four equal columns that sits next to each other */
                    .column {
                      flex: 25%;
                      max-width: 25%;
                      padding: 0 4px;
                    }
                    
                    .column img {
                      margin-top: 8px;
                      vertical-align: middle;
                      width: 100%;
                    }
                    
                    /* Responsive layout - makes a two column-layout instead of four columns */
                    @media screen and (max-width: 800px) {
                      .column {
                        flex: 50%;
                        max-width: 50%;
                      }
                    }
                    
                    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
                    @media screen and (max-width: 600px) {
                      .column {
                        flex: 100%;
                        max-width: 100%;
                      }
                    }
                    
                    .img-div {
                        justify-content: center;
                    }

                    #tribute-link {
                        color: #CC0000;
                        font-weight: bold;
                    }

                    #img-Caption {
                        font-size: 30px;
                    }

                    .center {
                        margin: auto;
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                      }
     </style>
    </head>
    <body>
     <div id="main">

     <h1 id="titile" class="center">Jimi Hendrix</h1> 

     <center>
     <div id="img-div">
      <div class="row"></div>
      <div class="column"></div>
      <div class="column">
         <img src="Jimi Hendrix_Black And White.jpg" alt="Black And White" id="image">
         <img src="Jimi Hendrix_Smoking.jpg" alt="Jimi Hendrix Smoking" id="image">
         <img src="Jimi hendrix_Black And White Grim.jpg" alt="Jimi Hendrix Grim" id="image">
         <img src="Jimi Hendrix_Sitting In Chair.jpg" alt="Jimi Hendrix Sitting In Chair" id="image">
        </div>
        <div class="column">
         <img src="Jimi Hendrix_Classic Wearing.jpg" alt="Jimi Hendrix Classic Wearing" id="image">
         <img src="Jimi Hendrix_Playing Guitar.jpg" alt="Jimi Hendrix Playing Guitar" id="image">
         <img src="jimi-hendrix-20_Wearing Head.jpg" alt="Jimi Hendrix Wearing Head" id="image">
         <img src="jimi-hendrix-getty-hero-1200x900.jpg" alt="Jimi Hendrix Getty Hero" id="image">
         <img src="Jimi Hendrix Portrait.jpg" alt="Jimi Hendrix Portrait" id="image">
      </div>
      <div class="column"></div>
    </center>
    </div>
    <p id="img-Caption" class="center"><em>known as one of the Greatest Guitar Players Ever</em></p>
     </div>
     <div id="tribute-info" class="center">
         <p>
         <p>Down the street you can hear her scream "you're a disgrace"</p>
         <p>As she slams the door in his drunken face</p>
         <p>And now he stands outside</p>
         <p>And all the neighbors start to gossip and drool, yes they do</p>
         <p>He cries "Oh, girl you must be mad</p>
         <p>What happened to the sweet love you and me had?"</p>
         <p>Against the door he leans and starts a scene</p>
         <p>And his tears fall and burn the garden green, yes they do</p>
         <p>And so castles made of sand fall in the sea, eventually</p>
         <p>A little Indian brave who before he was ten</p>
         <p>Played war games in the woods with his Indian friends</p>
         <p>And he built up a dream that when he grew up</p>
         <p>He would be a mighty warrior Indian chief</p>
         <p> Many moons past and more the dream grew strong until</p>
         <p>Tomorrow he would sing his first war song and fight his first battle</p>
         <p>But something went wrong, a surprise attack killed him in his sleep that night, damn</p>
         <p>And so castles made of sand melts into the sea, eventually</p>
         <p>There was a young girl, whose heart was a frown</p>
         <p>'Cause she was crippled for life</p>
         <p>She couldn't speak a sound</p>
         <p>And she wished and prayed she could stop living</p>
         <p>So she decided to die</p>
         <p>She drew her wheelchair to the edge of the shore</p>
         <p>And to her legs she smiled "you won't hurt me no more"</p>
         <p>But then a sight she'd never seen made her jump and say</p>
         <p>"Look a golden winged ship is passing my way"</p>
         <p>And it really didn't have to stop, it just kept on going...</p>
         <p>And so castles made of sand slips into the sea, eventually</p>
         <p>Castles made of</p>
         <p>Castles made of</p>
         <p>Castles made of sand...</p>
     </div>
     <div class="center">
     <a href="https://en.wikipedia.org/wiki/Jimi_Hendrix" target="_blank" id="tribute-link">
    Learn more about Jimi Hendrix.
    </a>
     </div>
    </div>
    </body>
</html>   